<table  class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% steps.each do |step| %>
      <tr id='tr_step_<%= step.id %>'>
        <td><%= step.name %></td>
        <td><%= link_to 'Edit', edit_problem_path(@problem.id) %> 
        <%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "delete_step" %></td>
      </tr>
    <% end %>
  </tbody>
</table>